### Redes Neurais com Scikit-learn 
<hr>

<br>

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer, StandardScaler, LabelEncoder
from sklearn.neural_network import MLPClassifier, MLPRegressor
from sklearn.metrics import mean_squared_error, accuracy_score

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
path = '/content/drive/My Drive/Inteligência Artificial - Notebooks /Marketing /campaigns.csv'
marketing = pd.read_csv(path)
marketing.head()

   Unnamed: 0  age           job  marital  ... pdays previous  poutcome   y
0           0   58    management  married  ...    -1        0   unknown  no
1           1   44    technician   single  ...    -1        0   unknown  no
2           2   33  entrepreneur  married  ...    -1        0   unknown  no
3           3   47   blue-collar  married  ...    -1        0   unknown  no
4           4   33       unknown   single  ...    -1        0   unknown  no

[5 rows x 18 columns]

In [3]:
marketing.shape

(40690, 18)

In [4]:
label = LabelEncoder()
marketing['y'] = label.fit_transform(marketing[['y']])

cat_cols = marketing.select_dtypes(include=['object']).columns 
num_cols = marketing.select_dtypes(include=['float64', 'int64']).columns
 
dummies = pd.get_dummies(marketing[cat_cols], prefix=cat_cols, drop_first=True)
marketing = pd.concat([marketing, dummies], axis=1)
marketing.drop(cat_cols, axis=1, inplace=True)

In [5]:
X = marketing.drop('y', axis=1)
y = marketing['y']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=42)

std = StandardScaler()
X_train = std.fit_transform(X_train)
X_test = std.transform(X_test)

<br>


### MLP classificação 


<br>

In [ ]:
# Multilayer Perceptron classificação 

mlp = MLPClassifier(learning_rate_init=0.001,
                    hidden_layer_sizes=(50,),
                    activation='logistic',
                    solver='adam',
                    batch_size=500,
                    alpha=0.02,
                    random_state=42)

mlp.fit(X_train, y_train)
y_pred = mlp.predict(X_test)
print('Iterações: {}'.format(mlp.n_iter_))
print('Hidden layers: {}'.format(mlp.n_layers_))
print('Acurácia: {}'.format(accuracy_score(y_test, y_pred)))

<br>
<hr>
<br>

<br>
<hr>
<br>

<br>


### MLP regressão


<br>

In [8]:
path = '/content/drive/My Drive/Inteligência Artificial - Notebooks /Introdução TensorFlow /Redes Neurais - Sklearn/houses_to_rent_v2.csv'
data = pd.read_csv(path)
data.head()

           city  area  ...  fire insurance (R$)  total (R$)
0     São Paulo    70  ...                   42        5618
1     São Paulo   320  ...                   63        7973
2  Porto Alegre    80  ...                   41        3841
3  Porto Alegre    51  ...                   17        1421
4     São Paulo    25  ...                   11         836

[5 rows x 13 columns]

In [9]:
cat_cols = data.select_dtypes(include=['object']).columns
data.drop(cat_cols, axis=1, inplace=True)

In [10]:
X = data.drop('total (R$)', axis=1)
y = data['total (R$)']


X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=42)

std = StandardScaler()
X_train = std.fit_transform(X_train)
X_test = std.transform(X_test)

In [11]:
data.shape

(10692, 9)

In [15]:
# Multilayer Perceptron regressão

mlp = MLPRegressor(learning_rate_init=0.001,
                    hidden_layer_sizes=(1000,),
                    activation='relu',
                    solver='adam',
                    batch_size=200,
                    random_state=42)

mlp.fit(X_train, y_train)
y_pred = mlp.predict(X_test)
print('Iterações: {}'.format(mlp.n_iter_))
print('Hidden layers: {}'.format(mlp.n_layers_))
print('RMSE: {}'.format(np.sqrt(mean_squared_error(y_test, y_pred))))

Iterações: 200
Hidden layers: 3
RMSE: 2711.849724438294